<a href="https://colab.research.google.com/github/shravaniprakashchaube/Python_Problems/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a Python program to sum all the items
# solution 1

L = [1,7,-10,34,2,-8]
sum(L)

26

In [ ]:
# solution 2
L = [1,7,-10,34,2,-8]
sum = 0
for i in L:
        sum+= i

print(sum)

26

In [ ]:
# Write a Python program to multiply all the items in a list
L = [3,4,5,4,7]
mul = 1
for i in L:
     mul*= i
print(mul)

1680

In [ ]:
# Write a Python program to get the largest number from a list
L=[1,7,10,34,2,8]

max = L[ 0 ]
for i in L:
	if i > max:
		max = i
print("Largest Number :",max)

Largest Number : 34

In [ ]:
# Write a Python program to get the smallest number from a list
L = [51,7,10,34,2,8]
min = L[0]
for i in L:
  if i < min:
    min = i
print(min)

2

In [ ]:
#Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
word = ['abc', 'xyz', 'aba', '1221']
count = 0
for w in word:
  if len(w) > 1 and w[0] == w[-1]:
    count+= 1
print(count)

2

In [ ]:
#Write a Python program to remove duplicates from a list
#solution 1
L = [1,2,3,7,2,1,5,6,4,8,5,4]
uniq = set(L)
print(uniq)

#solution 2
a = [1,2,3,7,2,1,5,6,4,8,5,4]
dup = set()
uniq = []
for x in a:
    if x not in dup:
        uniq.append(x)
        dup.add(x)
print(dup)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:

#Write a Python program to find the list of words that are longer than n from
str="Find the List of Words that are Longer than n from a given List of Words"
n = 4
newlist= []
text = str.split()
for x in text:
   if len(x) > n:
     newlist.append(x)
print(newlist)

['Words', 'Longer', 'given', 'Words']

In [ ]:
#Write a Program that get two lists as input and check if they have at least one common member
list1=[1,2,3,4,5]
list2=[5,6,7,8,9]
result = False
for x in list1:
 for y in list2:
	 if x == y:
		       result = True

if result:
    print("Lists have at least one common member")
else:
    print("Lists do not have any common member")

Lists have at least one common member

In [ ]:
#Write a Python program to print a specified list after removing the 0th, 4th and 5th elements
animal = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
animal = [x for (i,x) in enumerate(animal) if i not in (0,4,5)]
print(animal)

['Dog', 'Elephant', 'Fox', 'Ponda']

In [ ]:

#. Write a Python program to print the numbers of a specified list after removing even numbers from it
L = [7,32,81,20,25,14,23,27]
new_list = []
L = [x for x in L if x%2!=0]
print(L)

[7, 81, 25, 23, 27]

In [ ]:
#Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30
l = list()
for i in range(11,25):
	l.append(i**2)
print(l[:5])
print(l[-5:])

[121, 144, 169, 196, 225]
[400, 441, 484, 529, 576]

In [ ]:
"""Write a Python program to generate all permutations of a list in Python
This program imports the "itertools" module and uses the
"permutations" function from itertools to find all possible permutations of the list [1,2,3].
The permutations function takes a single iterable as an argument and returns an iterator of tuples
containing all possible permutations. In this case, the list [1,2,3] is passed as an argument to the
permutations function, and the output will be an iterator of tuples containing all possible permutations of
 that list. The result is converted to a list using the list() function and printed on the console."""
import itertools
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
#Write a Python program to convert a list of characters into a string
s = ['T','u','t','o','r',' ','J','o','e','s']
s1 = ''.join(s)
print(s1)

Tutor Joes

In [ ]:
#Write a Python program to find the index of an item in a specified list
num = [20, 70, 30, 90, 10, 30, 90, 10, 80]
print(num.index(30))

2

In [ ]:
#Write a Python program to flatten a shallow list

li = [[10, 20, 30, 40], [50, 60, 70, 80], [90, 100, 110, 120]]
print("Original shallow list:", li)

flatlist = []
for sub_li in li:
    for ele in sub_li:
        flatlist.append(ele)
print("After flattening :", flatlist)

Original shallow list: [[10, 20, 30, 40], [50, 60, 70, 80], [90, 100, 110, 120]]
After flattening : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [ ]:
# Write a Python program to find the second smallest number in a list
num = [ 2,4,56,78,4,34,5,8,9]
if (len(num)<2):
  print(num)
if ((len(num)==2)  and (num[0] == num[1]) ):
  print(num)
dup_items = set()
uniq_items = []
for x in num:
  if x not in dup_items:
    uniq_items.append(x)
    dup_items.add(x)
uniq_items.sort()
print(  uniq_items[1]   )

4

In [ ]:
#Write a Python program to get the frequency of the elements in a list


# initializing the list
random_list = ['A', 'A', 'B', 'C', 'B', 'D', 'D', 'A', 'B']
frequency = {}

# iterating over the list
for item in random_list:
   # checking the element in dictionary
   if item in frequency:
      # incrementing the counr
      frequency[item] += 1
   else:
      # initializing the count
      frequency[item] = 1

# printing the frequency
print(frequency)

{'A': 3, 'B': 3, 'C': 1, 'D': 2}

In [ ]:
"""
Write a Python program to get variable unique identification number or string
This program demonstrates how to obtain the memory address of an object in Python.
The program uses the built-in function id() to obtain the memory address of an object and the format() function to convert the returned
 address to a hexadecimal representation.

The variable x is assigned the value 30, and the id() function is used to obtain
 the memory address of this variable. The returned address is then passed as an argument to the format() function,
 which converts the address to a hexadecimal representation using the format specifier 'x'. This hexadecimal representation
 of the memory address is then printed.

Similarly, the variable s is assigned the string "Tutor Joes", and the id() function is used to obtain
the memory address of this variable. The returned address is then passed as an argument to the format() function,
which converts the address to a hexadecimal representation using the format specifier 'x'.
This hexadecimal representation of the memory address is then printed."""
x = 30
print(format(id(x), 'x'))
s = "Tutor Joes"
print(format(id(s), 'x'))

7f81b3f7c490
7f81681ff3b0