<a href="https://colab.research.google.com/github/shravaniprakashchaube/Python_Problems/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''Set are used to store multiple items in a single variable. To separate two items, you use a comma ( , ) . A set is like a list except that it uses parentheses { } . Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

Set are unordered
A set doesnâ€™t allow duplicate elements
Set cannot be changed'''

In [1]:
#create a set
print("Create a new set:")
a = set()
print(a)
print(type(a))

print("\nCreate a non empty set:")
b = set({23,45,56,"Joes",'T',45.6,True})
print(b)
print(type(b))

print("\nUsing a literal:")
c = {23,45,56,"Joes",'T',45.6,True}
print(c)
print(type(c))

Create a new set:
set()
<class 'set'>

Create a non empty set:
{True, 45, 'Joes', 'T', 23, 56, 45.6}
<class 'set'>

Using a literal:
{True, 45.6, 'Joes', 'T', 23, 56, 45}
<class 'set'>

In [2]:
#to add member(s) in a set

animal = {"Lion","Cat"}
print(animal)
animal.add("Dog")
print("Add single element : ",animal)
animal.update(["Ponda", "Tiger"])
print("Add multiple items : ",animal)

{'Lion', 'Cat'}
Add single element :  {'Lion', 'Dog', 'Cat'}
Add multiple items :  {'Lion', 'Tiger', 'Dog', 'Cat', 'Ponda'}

In [3]:

# remove
n = {30,50,70,20,30,60}
print("Before removing From Set :",n)
n.pop()
print("After removing From Set :",n)

Before removing From Set : {50, 20, 70, 60, 30}
After removing From Set : {20, 70, 60, 30}

In [4]:
# copy

a = {"Tutoe" , "Joes"}
b = {"Joes" , "Tutoe"}
#A shallow copy
a = b.copy()
print(a)

{'Joes', 'Tutoe'}

In [5]:
# Python program to check if two given sets have no elements in common

a = {23,45,78,8,56}
b = {42,55,26,87}
z = {87,46}
print("a :",a)
print("b :",b)
print("Z :",z)
print("\nTwo given sets have no Elements in Common..")
print("\nCompare A and B : ",a.isdisjoint(b))
print("Compare B and Z : ",b.isdisjoint(z))
print("Compare A and Z : ",z.isdisjoint(a))

a : {23, 8, 56, 45, 78}
b : {42, 26, 55, 87}
Z : {46, 87}

Two given sets have no Elements in Common..

Compare A and B :  True
Compare B and Z :  False
Compare A and Z :  True

In [6]:
# maximum and minimum
a = {23,45,17,8,56,10}
print("Set A :",a)
print("\nMaximum of A :",max(a))
print("Minimum of A :",min(a))

Set A : {17, 56, 23, 8, 10, 45}

Maximum of A : 56
Minimum of A : 8

In [7]:
# remove all elements
color = {"Red","Green","Pink","White","Black","Yellow","Blue"}
print(color)
print(type(color))

#Remove All Elements from given set
color.clear()
print("\nAfter Remove all Elements give Sets :",color)
print(type(color))

{'Blue', 'Green', 'Yellow', 'White', 'Black', 'Red', 'Pink'}
<class 'set'>

After Remove all Elements give Sets : set()
<class 'set'>

In [8]:
#Python program to Convert Tuple to Set
val = ('T', 'u', 't', 'o', 'r', 'J', 'o', 'e' , 's')
print(val)
print(type(val))

print("\nConvert Tuple to Set\n")
s = set(val)                           # similary we can convert any type into set using this method
print(s)
print(type(s))

('T', 'u', 't', 'o', 'r', 'J', 'o', 'e', 's')
<class 'tuple'>

Convert Tuple to Set

{'o', 'T', 'J', 't', 'r', 'e', 'u', 's'}
<class 'set'>

In [9]:
# to add all elements
x = {10,20,30,40,50}
y = [60,70,80,90,100]
print("\nAdd all its Elements into a given set ..")
x.update(y)
print(x)

Add all its Elements into a given set ..
{70, 10, 80, 20, 90, 30, 100, 40, 50, 60}

In [10]:
#Write a Python program to return a new set with unique items from both sets by removing duplicates
x = {10, 20, 30, 40, 50}
y = {40, 50, 60, 70,80}
z = x.union(y)
print(z)

{70, 40, 10, 80, 50, 20, 60, 30}

In [11]:
#Write a Python program to Check if two sets have any elements in common. If yes, display the common elements
s1 = {1, 2, 3, 4, 5}
s2 = {5, 3, 7, 8, 9}

if s1.isdisjoint(s2):
  print("Two Sets No items in Common")
else:
  print("Two sets items in Common")
  print(s1.intersection(s2))

Two sets items in Common
{3, 5}

In [14]:
#Write a Python program to Check if a set a subset of another set

a = {4,5}
b = {1,2,3,4,5}
print("A Subset of B :",a.issubset(b))
print("B Subset of A :",b.issubset(a))

A Subset of B : True
B Subset of A : False

In [13]:
# Write a Python program to Check if a specific value exists in a set

s = {10,20,30,40,50}
print(60 in s)
print(30 in s)

False
True

In [12]:
 #program to count number of vowels using sets in given string
str = "Tutor Joes"
count = 0
vowel = set("aeiouAEIOU")
print("String :",str)
print("Vowels :",vowel)
for alphabet in str:
	if alphabet in vowel:
		count = count + 1

print("Number of Vowels :", count)

String : Tutor Joes
Vowels : {'o', 'O', 'e', 'I', 'u', 'i', 'U', 'E', 'a', 'A'}
Number of Vowels : 4