<a href="https://colab.research.google.com/github/shravaniprakashchaube/Python_Problems/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuple are used to store multiple items in a single variable.To separate two items, you use a comma ( , ) . A tuple is like a list except that it uses parentheses ( ) . Once you define a tuple, you can access an individual element by its index. A tuple is a collection of objects which ordered and immutable, you cannot change its elements. Tuples are sequences, just like lists.

In [ ]:
# Write a Python program to create a tuple
a = tuple()
print(a)

()

In [ ]:
a = ("Tutor Joes", True, 'T', 3.21, 10)
print(a)

('Tutor Joes', True, 'T', 3.21, 10)

In [ ]:
#Write a Python program to unpack a tuple in several variables

a = 4, 8, 3
print(a)
n1, n2, n3 = a
#unpack a tuple in variables
print(n1 + n2 + n3)

(4, 8, 3)
15

In [ ]:
#Write a Python program to add an item in a tuple
#create a tuple
t = (10,40,50,70,90)
print(t)
t = t + (20,)
print(t)
#converting the tuple to list
l = list(t)
#use different ways to add items in list
l.append(30)
t = tuple(l)
print(t)

(10, 40, 50, 70, 90)
(10, 40, 50, 70, 90, 20)
(10, 40, 50, 70, 90, 20, 30)

In [ ]:
#Write a Python program to convert a tuple to a string
t = ('j','a','y','g','a','n','e','s','h')
s = ''.join(t)
print(s)

jayganesh

In [ ]:
#Write a Python program to find the repeated items of a tuple
t = (2,4,6,6,5,5,4,3,3,2,2,2,2,4,6,7)
c = t.count(2)
print(c)

5

In [ ]:
#Write a Python program to check whether an element exists within a tuple
t = (2,4,6,6,5,5,4,3,3,2,2,2,2,4,6,7)
print(2 in t)

True

In [ ]:
#remove elements
t = (2,4,6,6,5,5,4,3,34,6,7)
b = list(t)
b.remove(2)
a = tuple(b)
print(a)

(4, 6, 6, 5, 5, 4, 3, 34, 6, 7)

In [ ]:
#Write a Python program to find the index of an item of a tuple
t = (3,2,4,5,6)
b = t.index(2)
print(b)

1

In [ ]:
#find length of a tuple

t = (3,2,4,5,6)
b = len(t)
print(b)

5

In [ ]:
#reverse
t = (2,3,4,5,6,7,8,7)
b = ("after reverse",t[::-1])
print(b)

('after reverse', (7, 8, 7, 6, 5, 4, 3, 2))

In [ ]:
#Create a tuple with single item 23
#In Python, a single value without a comma is not considered to be a tuple
t = (23,)
print(t)

(23,)

In [ ]:
#Copy specific elements from one tuple to a new tuple
t = (2,34,5,6,7,8,89,9)
t2 = t[2:5]
print(t2)

(5, 6, 7)

In [ ]:
#Sort a tuple of tuples by 2nd item
t = (('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18))
t = tuple(sorted(list(t) , key=lambda x:x[1]))
print(t)

(('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53))

In [ ]:
#Write a Python program to compute element-wise sum of given tuples
t1 = (2,3,4)
t2 = (3,4,5)
t3 = (4,5,6)
print("A",t1)
print("B",t2)
print("C",t3)
res = tuple(map(sum, zip(t1,t2,t3)))
print("sum of elements",res)

A (2, 3, 4)
B (3, 4, 5)
C (4, 5, 6)
sum of elements (9, 12, 15)

In [ ]:
#Write a Python program to replace last value of tuples in a list
l = [(5, 2, 3), (4, 7, 6), (8, 9, 6)]
print([t[:-1] + (10,) for t in l])

[(5, 2, 10), (4, 7, 10), (8, 9, 10)]

In [ ]:
val = [(47, 23), (3, 78), (22, 53), (121, 45), (7, )]
print("original list",val)
res =